[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "folium>=0.20.0",
    "pillow>=12.0.0",
    "streamlit>=1.52.2",
    "streamlit-folium>=0.25.3",
]
